html,

body {
  height: 100%;
  color: black;
  background: linear-gradient(#ffb3b3, #990000);
  text-align: center;
  font-size: 1em;
  font-style: oblique 0deg;

  /* background-image: url("hearts-on-a-string.jpg"); */
}

h1 {
  background: (#ff33cc);
  font-family: "Comic Sans MS", cursive, sans-serif;

}
h2 {
  font-size: 1.2em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
div {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    background-color: #e60000;
    width: 400px;
    border: 20px solid black  ;
    padding: 20px;
    margin: 20px;
}
p {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.lectura {
  float: left;
}
