html,

body {
  height: 100%;
  background: linear-gradient(#ff99ff, #cc00cc);
  font-size: 1em;
  font-style: oblique 0deg;
  text-align: center;
}

h1 {

  font-family: "Comic Sans MS", cursive, sans-serif;

}
h2 {
  font-size: 1.2em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
div {
    font-family: "Comic Sans MS", sans-serif;
    color: white;
    background-color: #ff4dd2;
    width: 400px;
    border: 20px solid #b30086  ;
    padding: 20px;
    margin: 25px;
    display: inline-block;

}
p {
  font-family: "Comic Sans MS", cursive, sans-serif;
    color: #333333;
    background: #ff99ff85;
}
